{% load cms_tags sekizai_tags static meta menu_tags %}
<html>
    <head {% meta_namespaces %}>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% page_attribute "page_title" %}</title>
        {% include "meta/meta.html" %}
        {% render_block "essential_js" %}
        {% render_block "css" %}

  <!-- Favicon -->
  <link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link type="text/css" href="{% static 'assets/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'assets/css/argon.css' %}?v=1.0.0" rel="stylesheet">
  <!-- Docs CSS -->
  <link type="text/css" href="{% static 'assets/css/docs.min.css' %}" rel="stylesheet">


    </head>
    <body>
        {% cms_toolbar %}
        <header class="header-global">
                  <!-- Menu -->
                  <div class="row">
                    <div class="col-lg-12">
                      <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="#">Menu</a>
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="nav-inner-primary">
                            <div class="navbar-collapse-header">
                              <div class="row">
                                <div class="col-6 collapse-brand">
                                  <a href="./index.html">
                                    <img src="{% static 'assets/img/brand/blue.png' %}">
                                  </a>
                                </div>
                                <div class="col-6 collapse-close">
                                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-inner-primary" aria-controls="nav-inner-primary" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <ul class="navbar-nav ml-lg-auto">
                              {% show_menu 0 100 100 100 'custom_menu/menu.html' %}
                            </ul>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
        </header>
        {% block 'content' %}

        {% endblock 'content' %}
      <footer class="footer has-cards">
        {% comment %} <div class="container"> {% endcomment %}
          {% comment %} <div class="row row-grid align-items-center my-md">
            {% static_placeholder "footer" %}
          </div> {% endcomment %}
          {% comment %} <hr> {% endcomment %}
          {% comment %} <div class="row align-items-center justify-content-md-between"> {% endcomment %}
          {% comment %} </div> {% endcomment %}
          {% static_placeholder "footer" %}
        </div>
      </footer>
        <!-- Core -->
        <script src="{% static 'assets/vendor/jquery/jquery.min.js'  %}"></script>
        <script src="{% static 'assets/vendor/popper/popper.min.js'  %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js'  %}"></script>
        <script src="{% static 'assets/vendor/headroom/headroom.min.js'  %}"></script>
        <!-- Core:End-->
        {% render_block "js" %}
    </body>
</html>
