{% load menu_tags cms_tags %}
{% for child in children %}

    {% if child.children and child.level == 0 %}
    <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="nav-inner-primary_dropdown_{{child.id}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ child.get_menu_title }}</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-inner-primary_dropdown_{{child.id}}">
            {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
        </div>
    </li>
    {% endif %}
    {% if not child.children and child.level == 0 %}
        <li class="nav-item">
            <a class="nav-link" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
        </li>
    {% elif child.level > 0 %}
        <a class="dropdown-item" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }} {{child.id}}</a>
    {% endif %}
{% endfor %}